#root {
  margin: 0 auto;
  padding: 2rem;
}

.enterTitle {
  text-align: center;
  font-size: 26px;
  font-weight: 600;
}

.inputButton {
  text-align: center;
  margin-left: 50px;
}

.inputButton input{
  height: 25px;
}

.cardDiv {
  max-width: 85vw;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  margin: 100px auto;
  align-items: center;
}

.cardBody {
  height: auto;
  width: 300px;
  margin: 15px;
  padding: 20px;
  background-color: #303030;
  box-shadow: 2px 2px 10px 10px #222;
  border-radius: 6px;
}

.cardBody:hover {
  cursor: pointer;
  border: 1px solid red;
}

.cardBody p{
  margin: 0;
  font-size: 22px;
  font-weight: 600;
}

.cardBody p span {
  font-size: 18px;
}


